<span class="title" {{action "select"}}>{{step.title}}</span>
{{#if editable}}
  <div class="secondary-content" {{action "triggerEdit"}}>
    <i class="mdi-editor-mode-edit"></i>
  </div>
{{/if}}
<p>{{step.description}}</p>
<p class="order"><label>Order:</label><span>{{step.order}}</span></p>
<p class="code"><label>Code:</label> <pre>{{step.code}}</pre></p>
<p>{{step.status}}</p>
