{{#if editing}}
  {{configuration/pipeline-card/edit pipeline=pipeline}}
  {{else}}
  {{configuration/pipeline-card/show pipeline=pipeline select=select}}
{{/if}}

{{#if editable}}
  <button {{action "toggleEdit"}}>{{#if editing}}show{{else}}edit{{/if}}</button>
{{/if}}