<span class="title" {{action "select"}}>{{input value=step.title}}</span>
{{#if editable}}
  <div class="secondary-content" {{action "triggerEdit"}}>
    <i class="mdi-editor-mode-edit"></i>
  </div>
{{/if}}
{{textarea value=step.description}}
<p>Order: {{input value=step.order type="number"}}</p>
<p>{{input value=step.status placeholder="status"}}</p>
<p>{{input value=step.code placeholder="upload_files"}}</p>

{{#if step.hasDirtyAttributes}}
  {{md-btn-submit icon='mdi-action-save' iconPosition='right' text='Save' action="save"}}
{{/if}}
