{{#if editing}}
  {{configuration/step-card/edit step=step onSave=(action "toggleEdit")}}
  {{else}}
  {{configuration/step-card/show step=step}}
{{/if}}

<button {{action "toggleEdit"}}>{{#if editing}}Show{{else}}Edit{{/if}}</button>